@use '@/styles/mixins.scss';
@use '@/styles/variables.scss';

.cardNFT {
  max-width: 340px;
  width: 100%;
  padding: 21px 19px;
  border-radius: variables.$border-default;
  background-color: variables.$background-card-primary;

  .containerImageNFT {
    @include mixins.center;
    width: 100%;
    height: 258px;
    border-radius: variables.$border-default;
    background-color: variables.$background-image-nft;

    img {
      width: 216px;
      height: 195px;
      max-width: 100%;
      object-fit: cover;
      border-radius: variables.$border-default;
    }
  }

  .containerContent {
    margin-top: 50px;

    h2 {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 10px;
    }

    p {
      font-size: 12px;
      color: variables.$font-color-secondary;
      margin-bottom: 20px;
    }

    .content {
      display: flex;
      align-items: center;
      gap: 5px;
      margin-bottom: 25px;

      image {
        width: 29px;
      }

      span {
        font-size: 20px;
        font-weight: 600;
      }
    }
  }
}
