@use '@/styles/mixins.scss';
@use '@/styles/variables.scss';

.cartModal {
  @include mixins.flex-column;
  @include mixins.main-wrapper(670px);
  @include mixins.panel-shadow;
  background-color: variables.$color-background-primary;
  position: absolute;
  top: -25px;
  right: 0;
  z-index: 10;
}

.header {
  @include mixins.align-items();
  padding: 50px 0 0 55px;
  gap: 84px;
  margin-bottom: 130px;

  @include mixins.responsive('sm') {
    padding: 30px 20px 0 20px;
    gap: 40px;
    margin-bottom: 80px;
  }

  button {
    @include mixins.circle-button(60px, variables.$color-button-secondary);
    transition: 0.2s ease-out;

    @include mixins.responsive('sms') {
      @include mixins.size(50px);
    }

    &:hover {
      opacity: 0.7;
    }
  }

  h2 {
    @include mixins.font-style(24px, 500);

    @include mixins.responsive('sms') {
      font-size: 20px;
    }
  }
}

.containerCardNFT {
  @include mixins.flex-column();
  padding: 0 15px;
  gap: 27px;
  max-height: 429px;
  overflow-y: auto;
  scrollbar-gutter: stable;

  scrollbar-width: thin;
  scrollbar-color: variables.$color-button-primary transparent;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: variables.$color-button-primary;
    border-radius: 4px;
    border: 2px solid variables.$color-background-primary;
  }

  .cartVoid {
    @include mixins.center();
    gap: 20px;
  }

  .cardNFT {
    display: flex;
    gap: 31px;
    width: 100%;
    padding: 20px 30px;
    border-radius: variables.$border-default;
    background-color: variables.$background-card-secondary;

    @include mixins.responsive('sms') {
      flex-direction: column;
      @include mixins.align-items();
    }

    .imageNFT {
      @include mixins.center();
      @include mixins.size(161px);

      @include mixins.responsive('mds') {
        @include mixins.size(140px);
      }

      @include mixins.responsive('mds') {
        @include mixins.size(161px);
      }

      img {
        width: 100%;
        object-fit: cover;
        border-radius: variables.$border-default;
      }
    }

    .content {
      width: 70%;

      @include mixins.responsive('mds') {
        width: 65%;
      }

      @include mixins.responsive('sm') {
        width: 55%;
      }

      @include mixins.responsive('sms') {
        width: 100%;
      }

      h2 {
        @include mixins.font-style(18px, 500);
      }

      p {
        @include mixins.font-style(12px, 300, variables.$font-color-secondary);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
      }

      .price {
        @include mixins.align-items();
        gap: 10px;
        margin-top: 12px;

        span {
          @include mixins.font-style(20px, 600);
        }
      }

      .containerQuantity {
        @include mixins.space-between();
        @include mixins.align-items();
        gap: 10px;
        margin-top: 20px;

        .quantity {
          @include mixins.align-items();

          .subtract {
            @include mixins.size(38px, 43px);
            border-radius: 9px 0 0 8px;
            background-color: variables.$color-background-primary;
          }

          span {
            @include mixins.center();
            @include mixins.size(38px, 43px);
            background-color: variables.$color-background-primary;
          }

          .add {
            @include mixins.size(38px, 43px);
            border-radius: 0 9px 9px 0;
            background-color: variables.$color-background-primary;
          }
        }

        .buttonDelete {
          @include mixins.circle-button(43px, variables.$color-button-primary);
        }
      }
    }
  }
}

.total {
  @include mixins.space-between();
  padding: 70px 35px;

  span {
    @include mixins.font-style(24px, 700);

    @include mixins.responsive('sm') {
      font-size: 20px;
    }
  }

  .totalPrice {
    @include mixins.align-items();
    gap: 5px;

    span {
      @include mixins.font-style(24px, 600);
      @include mixins.responsive('sm') {
        font-size: 20px;
      }
    }
  }
}

.buttonBuy {
  margin: 0 auto;
  margin-bottom: 140px;
  padding: 30px 0;
  max-width: 610px;
  background-color: variables.$color-button-primary;
  transition: ease-out 0.2s;

  @include mixins.responsive('sm') {
    padding: 25px 0;
    font-size: 16px;
  }

  &:hover {
    opacity: 0.7;
  }
}
