@use '@/styles/mixins.scss';
@use '@/styles/variables.scss';

.containerModal {
  @include mixins.flex-column;
  @include mixins.main-wrapper(670px);
  @include mixins.panel-shadow;
  background-color: variables.$color-background-primary;
  position: absolute;
  top: 80px;
  right: 0;
  z-index: 10;
}

.header {
  @include mixins.align-items();
  padding: 50px 0 0 55px;
  gap: 84px;
  margin-bottom: 130px;

  button {
    @include mixins.circle-button(60px, variables.$color-button-secondary);
  }

  h2 {
    @include mixins.font-style(24px, 500);
  }
}

.containerCardNFT {
  @include mixins.flex-column();
  padding: 0 15px;
  gap: 27px;
  max-height: 429px;
  overflow-y: auto;

  scrollbar-width: thin;
  scrollbar-color: variables.$color-button-primary transparent;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: variables.$color-button-primary; 
    border-radius: 4px; 
    border: 2px solid variables.$color-background-primary;
  }

  .cartVoid {
    @include mixins.center();
    gap: 20px;
  }

  .cardNFT {
    display: flex;
    gap: 31px;
    width: 100%;
    padding: 20px 30px;
    border-radius: variables.$border-default;
    background-color: variables.$background-card-secondary;

    .imageNFT {
      @include mixins.center();
      @include mixins.size(161px);
      border-radius: variables.$border-default;
      background-color: variables.$background-image-nft;
    }

    .content {
      width: 70%;

      h2 {
        @include mixins.font-style(18px, 500);
      }

      p {
        @include mixins.font-style(12px, 300, variables.$font-color-secondary);
      }

      .price {
        @include mixins.align-items();
        gap: 10px;
        margin-top: 12px;

        span {
          @include mixins.font-style(20px, 600);
        }
      }

      .containerQuantity {
        @include mixins.space-between();
        @include mixins.align-items();
        gap: 10px;
        margin-top: 12px;

        .quantity {
          @include mixins.align-items();
          margin-top: 16px;

          .subtract {
            @include mixins.size(38px, 43px);
            border-radius: 9px 0 0 8px;
            background-color: variables.$color-background-primary;
          }

          span {
            @include mixins.center();
            @include mixins.size(38px, 43px);
            background-color: variables.$color-background-primary;
          }

          .add {
            @include mixins.size(38px, 43px);
            border-radius: 0 9px 9px 0;
            background-color: variables.$color-background-primary;
          }
        }

        .buttonDelete {
          @include mixins.circle-button(43px, variables.$color-button-primary);
        }
      }
    }
  }
}

.total {
  @include mixins.space-between();
  padding: 70px 35px;

  span {
    @include mixins.font-style(24px, 700);
  }

  .totalPrice {
    @include mixins.align-items();
    gap: 5px;

    span {
      @include mixins.font-style(24px, 600);
    }
  }
}

.buttonBuy {
  margin: 0 auto;
  margin-bottom: 140px;
  padding: 30px 0;
  max-width: 610px;
  background-color: variables.$color-button-primary;
}
