@use '@/styles/mixins.scss';
@use '@/styles/variables.scss';

.containerModal {
  max-width: 1310px;
  margin: 0 auto;
  position: relative;
}

/* SECTION */

.containerNFT {
  @include mixins.center;
  @include mixins.main-wrapper(1490px);
  flex-wrap: wrap;
  margin-top: 190px;
  gap: 25px;
}

/* BUTTON LOAD MORE */

.containerLoadMore {
  @include mixins.flex-column;
  @include mixins.center;
  margin: 150px auto;
  position: relative;
  max-width: 388px;

  @include mixins.responsive('sm') {
    width: 320px;
  }

  .loadMore {
    padding: 30px 0;
    font-size: 20px;
    font-weight: 600;

    @include mixins.responsive('sm') {
      font-size: 18px;
      padding: 25px 0;
    }
  }
}
