@use '@/styles/variables.scss';

.cardNFT {
  max-width: 340px;
  width: 100%;
  padding: 21px 19px;
  border-radius: variables.$border-default;
  background-color: variables.$background-card-primary;
}

.imageNFT {
  width: 100%;
  height: 303px;
  border-radius: variables.$border-default;
}

.containerContent {
  margin-top: 50px;
}

.title {
  width: 70%;
  height: 20px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.description {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.button {
  width: 100%;
  height: 50px;
  border-radius: 4px;
}
