@import '@/styles/mixins.scss';
@import '@/styles/variables.scss';

/* HEADER*/

.header {
  width: 100%;
  padding: 25px 15px;
  border-bottom: 1px solid #ffffff35;

  header {
    @include space-between;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
  }

  .cart {
    @include center;

    .cartIcon {
      width: 30px;
      height: 30px;
      margin-right: 4px;
    }
  }
}

/* SECTION */

.containerNFT {
  @include center;
  flex-wrap: wrap;
  width: 1490px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 190px;
  padding: 15px;
  gap: 25px;

  .cardNFT {
    max-width: 340px;
    width: 100%;
    padding: 21px 19px;
    border-radius: $border-default;
    background-color: $background-card-primary;

    .containerImageNFT {
      @include center;
      width: 100%;
      height: 258px;
      border-radius: $border-default;
      background-color: $background-image-nft;

      img {
        width: 216px;
        height: 195px;
        max-width: 100%;
        object-fit: cover;
        border-radius: $border-default;
      }
    }

    .containerContent {
      margin-top: 50px;

      h2 {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 10px;
      }

      p {
        font-size: 12px;
        color: $font-color-secondary;
        margin-bottom: 20px;
      }

      .content {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 25px;

        image {
          width: 29px;
        }

        span {
          font-size: 20px;
          font-weight: 600;
        }
      }

      button {
        @include center;
        background-color: $color-button-secondary;
        border-radius: $border-default;
        width: 100%;
        padding: 22px 0;
        font-size: 16px;
        

        &:hover {
          background-color: $color-button-primary;
        }
      }
    }
  }
}

/* BUTTON LOAD MORE */

.loadMore {
  @include center;
  margin: 150px auto;
  font-size: 20px;
  font-weight: 600;
  padding: 30px 127px;
  background-color: $color-button-secondary;
  border-radius: $border-default;
}

/* FOOTER */

.footer {
  @include center;
  width: 100%;
  margin: 25px auto;
  color: #ffffff5b;

  h2 {
    font-size: 14px;
    font-weight: 400;
  }
}
