@use '@/styles/mixins.scss';
@use '@/styles/variables.scss';

.header {
  width: 100%;
  padding: 25px 0;
  border-bottom: 1px solid #ffffff35;

  header {
    @include mixins.space-between;
    @include mixins.main-wrapper;
  }

  .cart {
    @include mixins.center;

    .cartIcon {
      width: 30px;
      height: 30px;
      margin-right: 4px;
    }

    .totalItemsCount {
      width: 15px;
      text-align: center;
    }
  }
}
