@use '@/styles/mixins.scss';
@use '@/styles/variables.scss';

.cardNFT {
  max-width: 340px;
  width: 100%;
  padding: 21px 19px;
  border-radius: variables.$border-default;
  background-color: variables.$background-card-primary;

  .imageNFT {
    @include mixins.center;
    width: 100%;
    border-radius: variables.$border-default;
    height: 303px;
    max-width: 100%;
    object-fit: cover;
  }

  .containerContent {
    margin-top: 50px;

    h2 {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 10px;
    }

    .descriptionContainer {
      position: relative;

      p {
        font-size: 12px;
        color: variables.$font-color-secondary;
        margin-bottom: 20px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      .descriptionHover {
        position: absolute;
        top: 20px;
        transform: translate(-50%, -50%);
        width: calc(100%);
        background: variables.$background-card-primary;
        color: #b0b0b0;
        font-size: 14px;
        line-height: 1.5;
        padding: 16px;
        border-radius: 8px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
        z-index: 10;
        border: 1px solid #3a3a4e;
        cursor: pointer;
      }
    }

    .content {
      display: flex;
      align-items: center;
      gap: 5px;
      margin-bottom: 25px;

      image {
        width: 29px;
      }

      span {
        font-size: 20px;
        font-weight: 600;
      }
    }
  }
}
